@import '../theme/my-theme.scss';

mat-sidenav-container {
  height: 100%;

    mat-nav-list {
      .title {
        margin: 0;
        text-align: center;
        font-weight: 500;
      }
    }

  mat-sidenav-content {
    padding: 30px;
  }
}